@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-width: 0;
}
.react-player__preview {
  border-radius: 8px;
}
.arial-font {
  font-family: Arial, sans-serif;
}
.inter-font {
  font-family: Inter, sans-serif;
}

/* @media only screen and (min-width: 1200px) {
  .react-player__preview {
    width: 950px;
    height: 538px;
  }
} */
/* w-[336px] h-[228px]  md:w-[714] md:h-[38px] xl:w-[950] xl:h-[538px] */
